<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Hello, <span th:text="${name}"></span>!
</p>
<p>
    Your visit has been booked !  <b>Vet Clinic</b> on
    <span th:text="${bookdate}"></span>
</p>
<p>To confirm visit please click on following link:-</p>
<ul th:remove="all-but-first">
    <span th:text="${link}"</span>
    <li>JavaScript</li>
    <li>CSS</li>
</ul>
<p>
    Regards, <br/>
    <em>Vet Clinic</em>
</p>
</body>
</html>